.main {
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 12rem;
}
.main > div{
    display: flex;
    flex-direction: row;
    width: 80%;
    background-color: rgb(232, 232, 252);
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
}
.main section {
    background-color: brown;
    width: 100%;
    min-width: 300px;
    border-radius: 1rem;
    padding: 1rem;
}
