.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: blue;
}
.header > div{
    display: flex;
    flex-direction: row;
    width: 80%;
    background-color: rgb(232, 232, 252);
    justify-content: space-between;
}
.logo {
    width: 200px;
}