@import "./brand.css";

@media (prefers-reduced-motion: no-preference) {
  * {
    animation: 3s smooth ;
  }
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

.container {
  height: 100vh;
}


