.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(255, 255, 255);
    height: 100vh;
}
.header {
   grid-column: span 3;
   width: 100%;
}
.hero {
   grid-column: span 3;
   width: auto;
   border: 1px red solid;
}
.main {
   grid-column: span 3;
   width: 100%;
   background-color: blueviolet;
}
.footer {
   grid-column: span 3;
   width: 100%;
}

