.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 300px;
    margin-top: 5rem;
    background-color: var(--primary-grey-color);
    color: whitesmoke;
}

.footer > div {
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
   
}