.nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 1px solid black;
    align-items: end;
}

.nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 16px;
}

.nav ul li {
    margin: 16px;
}

.nav ul li a {
    text-decoration: none;
}