.nav {
    width:80%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-content: stretch;
    column-gap: 3rem;
}

.nav a {
    color: #333333;
    font-family: Karla;
    font-weight: 800;
    font-size: 1rem;
    line-height: 1.5;
    text-decoration: none;
}
.nav .active {
    color: #333386;
    text-decoration: underline;
}


.nav a:hover {
    color: rgb(238, 211, 176);
}

